body{background: #000;color: #fff;}
.wrapper{max-width: 90%; margin: 0 auto;}
h1{text-align: center; margin: 30px;}
table{margin-top: 30px}
.display-none{display: none;}
tbody td{text-transform: uppercase;}

/* screen adjustment */
@media screen and (max-width: 1200px){
    .main-container{
        width:95%;
    }
}

@media screen and (max-width: 800px){
    .intro-wrapper{
        
      grid-template-columns: 1fr;
      grid-template-areas: 
        'nav-wrapper'
        'left-column'
        'right-column'
      ;
    }

    .right-column{
        justify-content:center;
    }
}
